

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-thin {
 font-family: "Poppins", sans-serif;
 font-weight: 100, 200, 300, 400, 500, 600, 800, 900;
 font-style: normal;
}

*{
 margin: 0;
 padding: 0;
}

/** -----------------------shire style----------------- **/
.primary-btn{
 background-color: rgba(231, 111, 81, 1);
 width: 91px;
 height: 44px;
 color: rgba(255, 255, 255, 1);
 border: none;
 border-radius: 5px;
 margin-top: 30px;
}
.second-btn{
 background-color: rgba(231, 111, 81, 1);
 width: 168px;
 height: 44px;
 color: rgba(255, 255, 255, 1);
 border: none;
 border-radius: 5px;
 margin: 10px;
}
.main-header{
 background-color:rgba(38, 70, 83, 1) ;
}

/** ------------------------navbar style--------------------------  **/
.navbar ul{
 display: flex;
 justify-content: end;
 list-style: none;
 margin-right: 156px;
}

.navbar li{
 margin: 35px;
}
.navbar li a{
 font-size: 16px;
 text-decoration: none !important;
 color: rgba(255, 255, 255, 1);
}

/** -----------------------------hero section style--------------------- **/
.hero-section{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 93px;
}
.hero-description{
 font-size: 14px;
 color: rgba(255, 255, 255, 1);
 margin: 10px;
 background: linear-gradient(-50deg, #5662f6 0%, #7fffd4 100%);
 color: transparent !important;
 background-clip: text;
}
.hero-title{
 font-weight: semibold;
 font-size: 48;
 color: rgba(255, 255, 255, 1);
 margin: 10px;
}
/** -------------------------------bike show style-------------------------- **/
.bike-show-title{
 text-align: center;
 font-weight: semibold;
 font-size: 48px;
 margin-top: 64px;
}
.bike-show-title2{
 font-weight: semibold;
 font-size: 14px;
 text-align: center;
 color: rgba(231, 111, 81, 1);
 margin-bottom: 50px;
}
.bike-image{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 138px;
}
.bike-image img{
 width: 288px;
 height: 243px;
 align-items: center;
}

/**----------------------------latest-bike-show-------------------  **/
.latest-bike-title{
 text-align: center;
 font-weight: 700;
 font-size: 48px;
 color: rgba(10, 8, 38, 1);
}
.latest-bike-show{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 25px;
}
.latest-bike{
 padding: 20px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.latest-bike img{
 width: 337px;
 height: 256px;
 border: 5px solid red;
 background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
 border-radius: 10px;
}
.latest-bike-title{
 font-weight: semibold;
 font-size: 28px;
 color: rgba(24, 25, 31, 1);
 margin-top: 40px;
 background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
 border-radius: 100px;
 color: white !important;
}
.latest-bike-description{
 font-size: 16px;
 color: rgba(108, 108, 108, 1);
}
.latest-btn{
 width: 160px;
 height: 40px;
 margin-top: 40px;
 background-color: rgba(231, 111, 81, 1);
 color: whitesmoke;
 border: none;
 border-radius: 5px;
}
.latest-btn1{
 width: 160px;
 height: 40px;
 background-color: whitesmoke;
 color: rgba(231, 111, 81, 1);
 border: 1px solid rgba(231, 111, 81, 1);
 border-radius: 5px;
 margin-top: 40px;
}

/** -------------------------happy clients-------------------------- **/
.happy-client-title{
 margin-top: 160px;
 margin-bottom: 52px;
 font-weight: semibold;
 font-size: 48px;
 color: rgba(10, 8, 38, 1);
 text-align: center;
 background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
span{
 color: rgba(231, 111, 81, 1);
}
.client-details{
 display: flex;
 justify-content: center;
 align-items: center;
}
.client-image{
 width: 322px;
 height: 478px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 margin: 30px;
}
.Client-comments{
 font-size: 16px;
 text-align: center;
 color: rgba(108, 108, 108, 1);
 margin-top: 30px;
}

.client-image img{
 margin-top: 40px;
 margin-left: 86px;
 width: 149px;
 height: 149px;
}
.performance{
 font-weight: semibold;
 font-size: 14px;
 text-align: center;
 color:rgba(35, 166, 240, 1);
 margin-top: 10px;
}
.position{
 font-weight: semibold;
 font-size: 14px;
 color: rgba(37, 43, 66, 1);
 text-align: center;
 margin-top: 15px;
}

.star{
 margin-top: 15px;
 text-align: center;
 color: rgba(255, 156, 0, 1);
}
.star1{
 background-color: whitesmoke;
}

/** -----------------------------question style---------------- **/
.question-image-ans-part{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 112px;
 gap: 141px;
}
.question-image img{
 width: 400px;
 height: 400px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.question-title{
 text-align: center;
 margin-top:158px;
}
.question-title{
 font-size: 20px;
 color: rgba(56, 56, 56, 1);
}
.faq-container{
 max-width: 600px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 overflow: hidden;
}
.faq-item{
 border-bottom: 1px solid #e2e2e2;
}
.faq-question{
 width: 100%;
 background-color: #fff;
 border: none !important;
 outline: none !important;
 cursor: pointer;
 padding: 15px 20px;
 text-align: left !important;
 font-size: 16px;
 font-weight: bold !important;
 color: #333;
 transform:background-color 0.3s ease;
}
.faq-question:hover{
 background-color: #f0f0f0;
}
.faq-answer{
 display: none !important;
 padding: 0 20px 15px ;
 font-size: 14px;
 color: #555;
 line-height: 1.5;
 background-color: #f9f9f9;
 border-top: 1px solid #e2e2e2;
}
.faq-item.active .faq-answer{
 display: block;
}

/** ------------------foot section style---------------------- **/
.foot-section{
 width: auto !important;
 height: 280px;
 background-color:rgba(11, 13, 23, 1);
 display: flex !important;
 justify-content: space-between;
}
.foot-download{
 margin: 100px;
}
.foot-privacy{
 display: flex !important;
}
.company-logo{
 display: flex !important;
 margin: 100px;
}
.Now{
 color: rgba(255, 255, 255, 1);
 font-size: 16px;
 margin: 10px;
}
.foot-lie{
 color: rgba(255, 255, 255, 1);
 margin: 10px;
}
.foot-privacy{
 color: rgba(255, 255, 255, 1);
}
.foot-privacy p{
 margin: 10px;
}
.foot-copy{
 color: rgba(255, 255, 255, 1);
}
.get-app{
 color: rgba(255, 255, 255, 1);
}


/* -----------------------media query---------------------- */
@media screen and (max-width: 576px) {
 .hero-section{
  flex-direction: column;
 }
 .bike-image{
  flex-direction: column;
 }
 .latest-bike-show{
  flex-direction: column;
 }
 .client-details{
  flex-direction: column;
 }
 .question-image-ans-part{
  flex-direction: column;
 }
 .foot-section{
  flex-direction: column;
 }
 .foot-privacy{
  flex-direction: column;
 }
 .company-logo{
  flex-direction: column;
 }
}